*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
    background: #f7f5f2;
}
html::-webkit-scrollbar-track{
    background: transparent;

}
html::-webkit-scrollbar-thumb{
    background:#b2744c;
    border-radius: 18px;
}
html::-webkit-scrollbar{
    width: 10px;
}
/* navbar start */
#navbar{
    background-color: #b2744c;
    height: 12vh;
    padding-left: 50px;
}
#logo{
    position: absolute;
    top: -20px;
    left: -20px;

}
#logo img{
   
   width: 140px;
  
   }
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.55;
}
.nav-item .nav-link:hover{
   background:#f7f5f2;
   border-radius: 5px;
   color:black;
}
#navbar form button{
   background: black;
   color:white;
   border: 1px solid white; 
}
/* navbar end */

/*  Home section start  */
#home{
    width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./images/beans.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}
#home .content{
    padding-top: 210px;
    margin-left: 56px;
}
#home .content h3{
   font-size: 55px;
   color: white; 
}
#home .content p{
    margin-right: 10px;
    color: white;
}
#btn{
    width: 150px;
    height: 36px;
    margin-right: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #b2744c;
    color: white;
}
/*  Home section end  */

/*  About section start  */
#about{
    width: 100%;
    height: 100vh;
}
#about .container{
    width: 100%;
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #b2744c;
}

#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
    margin-left: 55px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#about img{
    width: 556px;
}
#about-btn:hover{
    background-color: #b2744c;
    color: white;
}
@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:1200px){
    #about p{
        font-size: 8px;
    }
    #about img{
        width: 470px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
}
@media screen and (max-width:375px){
    #about img{
        padding-bottom: 5px;
    }
    #about p{
        font-size: 17px;
        padding-bottom: 5px;
    }
    #about{
        height: 165vh;
    }
}
/*  About section end  */

/* Top cards start */
#top-cards{
    width: 100%;
    height: 60vh;
    background: #f7f5f2;
    transition: 0.5s;
    cursor: pointer;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;
}
#top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#top-cards .card img{
    border-radius:10px ;
}
#top-cards:hover{
    transform: translateY(-10px);
}
/* Top cards end */
/* menu start */
#menu{
    width: 100%;
    
}
.heading3{
    text-align: center;
    font-size: 30px;
    color:#b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container2{
    margin-top: 50px;
}
#menu .card{
    box-shadow: rgba(149,157,165,0.2);
}
.star i {
    text-align: center;
    color:#b2744c;
    margin-right: 10px;
    font-size: 25px;
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1.9rem;
    padding-left: 1rem;
    
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #a77604;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

#menu p {
    font-size: 16px;
    color: #b2744c;
    padding-top: 10px;
}
#menu p span{
    float: right;
    cursor: pointer;
}
#menu h3{
    color: #b2744c;
    text-align: center;
    margin-top: 5px;
}

/* menu end */
/* contact start */
#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
   
}
#contact .container{
    widows: 100%;
    height: 80vh;
    background:linear-gradient(90deg,white 80%,#b2744c 20%);
    border-radius: 10px;
}
.heading4{
    font-size: 30px;
    font-weight: bold;
    margin-right: 70px;
    
}
.heading4 span{
    color:#b2744c;
}
#contact p {
font-weight: bold;
font-size: 13px;
color: black;

}

#contact input{
    width: 360px;
    margin-bottom: 15px;

    border: none;
    border-bottom: 1px solid #b2744c;
}
#contact-btn{
    width: 200px;
    height: 36px;
    margin-top: 5px;
    border: none;
    background: #b2744c;
    color: #f7f5f2;
    font-weight: bold;
    margin-right: 30px;
    border-radius:5px ;
    transition: 0.5s;
    cursor: pointer;
}
#contact-btn:hover{
color:beige;
background: burlywood;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
    border-radius: 5px;
}
#contact h1{
    color:white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p {
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #b2744c;
    }
    #contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
}
/* contact end */





/* blogs start */
#blogs{
    width: 100%;
}
#blogs .heading7{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#blogs .heading7 span{
    color: #b2744c;
}
#blogs .container{
    margin-top: 60px;
}
#blogs h5{
    color: #b2744c;
}
#blog-btn{
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background: #b2744c;
    cursor: pointer;
 
    transition: 0.5s;
}
#blog-btn:hover{
    color:beige;
background: burlywood;

}

/* blogs end */






/* footer start */
#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
}
.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.socail-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#credits a span{
    color: black;
}
.copyright span{
    color: black;
}
/* footer end */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
}
